.arrow {
    cursor: pointer;
    display: flex;
    justify-content: center;
    flex-direction: column;
    user-select: "none";

    position: absolute;
    margin-top: 45px;
    z-index: 1;
    background: white;
    border: none;
    border-radius: 6em;
    height: 2em;
    width: 2em;
    padding: 0;
}

.arrow:hover {
    color: #84848C;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.fa-arrow-circle-right,
.fa-arrow-circle-left {
    font-size: 2em;
    padding: 0;
    margin: 0;
}